<!-- This template is for the Hotel User which is used to display Hotel detail page.
This page contains all the available hotels. As the header like Add hotel, Edit Hotel should
only be displayed to hotel user that is why i have imported hotel-user.html from partials.
The main motive of this page is only to display the header part of hoter user.  -->

{% extends 'partials/hotel-user.html' %}
{% load static %}
{% block content %}


<link rel="stylesheet" href="{% static 'css/topdestination.css' %}">
<!-- Hero Section -->
<section class="hero">
    <img src="{% static 'images/hero-background.jpeg' %}" alt="Beach View" class="hero-bg">
    <div class="hero-content">
                
    </div>
</section>

<!-- Popular Tours Section -->
<section class="popular-tours">
    <h2>Our Popular Tours</h2>
</section>

<section class="top-destinations">
    <div class="container">
        <h2>Top Destinations</h2>
        <div class="destinations">
            <div class="destination">
                <img src="{% static 'images/Kathmandu.jpg' %}" alt="Kathmandu">
                <h4>Kathmandu</h4>
            </div>
            <div class="destination">
                <img src="{% static 'images/pokhara.jpg' %}" alt="Pokhara">
                <h4>Pokhara</h4>
            </div>
            <div class="destination">
                <img src="{% static 'images/lumbini.jpeg' %}" alt="Lumbini">
                <h4>Lumbini</h4>
            </div>
        </div>
    </div>
</section>

<!-- Hotel Listings -->
<section id="hotel-listings" class="hotel-list">
    
    {% for hotel in hotels %}
    <a href="{% url 'hotel:user_hotel_hotel_detail' hotel.slug %}" class="hotel-link">
        <div class="hotel">
            {% if hotel.image and hotel.image.url %}
                <img src="{{ hotel.image.url }}" alt="{{ hotel.name }}" class="hotel-image" style="width: 100%; height: 200px; object-fit: cover;">
            {% else %}
                <img src="{% static 'images/club_himalayan.jpeg' %}" alt="Default Image" class="hotel-image" style="width: 100%; height: 200px; object-fit: cover;">
            {% endif %}
            
            <div class="hotel-info">
                <h3>{{ hotel.name }}</h3>
                <p class="hotel-location">📍 {{ hotel.address }}</p>
                <p class="hotel-contact">📞 {{ hotel.mobile }}</p>
                
            </div>
        </div>
        
    </a>
    {% endfor %}
</section>


{% endblock content %}